<!DOCTYPE html>
<html>

<head>
  <title>EZ Cooking - {{name}} Instructions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/category.css" rel="stylesheet">
</head>

<body>

  <div id="topNavBar"></div>

  <div class="container">

    <h2>
      <strong>Instructions Page</strong>
    </h2>

    <div class="row">

      <div class="col">
        <p id="stepTitle">Proceed to the first step</p>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <button type="button" onclick="previousIndex()">Back</button>
        <button type="button" onclick="nextIndex()">Next</button>
      </div>
    </div>

    <!-- Remove this whitespace later, do some styling -->
    <br>
    <br>
    <br>

    <div class="row">
      <div class="col">
        <h3>Speech synthesiser settings</h3>
        <p>Will be moved to a settings page later, when we design one.</p>
        <form>
          <div>
            <label for="rate">Rate</label>
            <input type="range" min="0.5" max="2" value="1" step="0.1" id="rate">
            <div class="rate-value">1</div>
            <div class="clearfix"></div>
          </div>
          <div>
            <label for="pitch">Pitch</label>
            <input type="range" min="0" max="2" value="1" step="0.1" id="pitch">
            <div class="pitch-value">1</div>
            <div class="clearfix"></div>
          </div>
          <select>
            <!-- Populated in instructionfunctions.js -->
          </select>
        </form>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <button id="button-play" type="submit">Play</button>
        <button id="button-stop" type="submit">Stop</button>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/instructionfunctions.js"></script>

</body>

</html>