<!DOCTYPE html>
<html>

<head>
  <title>EZ Cooking - {{name}} Instructions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/instructions.css" rel="stylesheet">
</head>


<body onload="extractRecipe('{{name}}');">


  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="dummyBar">
    <a class="navbar-brand" href="/">EZ Cooking</a>
  </nav>
  <div id="topNavBar"></div>


  <div class="container">

    <h4>
      <strong>Instructions</strong>
    </h4>

    <div class="row">

      <div class="col">
        <p id="stepTitle">Proceed to the first step</p>
      </div>

    </div>

    <div class="row" id="extra-features-options">
      <div class="col">
        <p>EZ Cooking provides both text-to-speech (TTS) and voice recognition services so that you can prepare your meal without
          contacting your phone with dirty fingers.
        </p>
        <p>Speech recognition commands:</p>
        <ul>
          <li>
            <em>next</em>: Next step</li>
          <li>
            <em>back</em>: Back one step</li>
          <li>
            <em>stop</em>: Tell TTS to stop </li>
          <li>
            <em>repeat</em>: Tell TTS to repeat the step</li>
        </ul>
        <input id="activate-text-to-speech" type="checkbox" checked>
        <label for="activate-text-to-speech">Activate text to speech</label>
        <br>
        <input id="activate-speech-recognition" type="checkbox" checked>
        <label for="activate-speech-recognition">Activate speech recognition</label>
        <p>Speech synthesiser voice:</p>
        <form>
          <select id="speech-selector">
          </select>
        </form>
      </div>
    </div>

    <!-- Remove this whitespace later, do some styling -->
    <br>

    <div class="row">
      <div class="col">
        <p>Text to speech:</p>
        <p id="tts-heard"></p>
      </div>
    </div>

    <br>

    <div class="row fixed-bottom" id="bottom-bar">
      <div class="col-3">
        <button class="bottom-button" type="button" onclick="previousIndex()">Back</button>
      </div>

      <div class="col-3">
        <button class="bottom-button" id="button-play"><i class="fas fa-play"></i></button>
      </div>

      <div class="col-3">
        <button class="bottom-button" id="button-stop"><i class="fas fa-stop"></i></button>
      </div>

      <div class="col-3">
        <button class="bottom-button" type="button" onclick="nextIndex()">Next</button>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>
  <script src="/js/instructionfunctions.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script defer src="/js/firebaseCheck.js"></script>

</body>

</html>