<!DOCTYPE html>
<html>

<head>
  <title>EZ Cooking - {{name}} Instructions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/category.css" rel="stylesheet">
</head>

<body>

  <div id="topNavBar"></div>

  <div class="container">

    <h1><strong>Instructions Page</strong></h1>


    <h3 id="stepTitle">Proceed to the first step<h3>

    <a href="/">Back To Home</a>
    <br>
    <a href="/../finish/{{name}}">Next</a>

    <div class="row">
      
      <div class="col">

      </div>
    </div>

    <button type="button" onclick="previousIndex()">Back</button>
    <button type="button" onclick="nextIndex()">Next</button>


  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <script src="/js/instructionfunctions.js"></script>

</body>

</html>