<!DOCTYPE html>
<html>

<head>
  <title>EZ Cooking - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/category.css" rel="stylesheet">
</head>

<body>

  <div class="container">

    <h1>
      <strong>Login Page</strong>
    </h1>

    <div class="row">
      <div class="col">
        <button class="button" id="sign-in-google">
          <img class="img-responsive" src="/images/login/google_signin_buttons/web/2x/btn_google_signin_light_focus_web@2x.png">
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="button" id="sign-in-facebook">
          <img class="img-responsive" src="/images/login/google_signin_buttons/web/2x/btn_google_signin_light_focus_web@2x.png">
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button class="button" id="sign-in-google">
        <img class="img-responsive" src="/images/login/google_signin_buttons/web/2x/btn_google_signin_light_focus_web@2x.png">
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2 id="login-status">You are not logged in.</h2>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="/js/firebase.js"></script> <!-- Should be this, not firebaseCheck -->

</body>


<footer>
  <br>
  <p>© 2018 EZ Cooking</p>
</footer>


</html>