<!DOCTYPE html>
<html>

<head>
  <title>EZ Cooking - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/category.css" rel="stylesheet">
</head>

<body>

  <div class="container">

    <h2>
      <strong>EZ Cooking</strong>
    </h2>

    <p>Log In!</p>

    <div class="row">
      <div class="col">
        <div class="button" id="sign-in-google">
          <img class="img-responsive" src="/images/login/google_signin_buttons/web/2x/btn_google_signin_light_focus_web@2x.png">
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <button class="button img-responsive" id="sign-in-guest">
          Sign in as guest
        </button>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col">
        <p id="login-status">You are not logged in.</p>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="/js/firebaseLogin.js"></script>
  <!-- Should be this, not firebaseCheck -->

</body>
</html>