<!DOCTYPE html>
<html>

<head>
  <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='170550168-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

  <title>EZ Cooking - {{name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/ez-styles.css" rel="stylesheet">
  <link href="/css/share.css" rel="stylesheet">

</head>

<body onload="setPageType('Share', '{{name}}');">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="dummyBar">
    <a class="navbar-brand" href="/">EZ Cooking</a>
  </nav>
  <div id="topNavBar"></div>

  <div class="container">

    <div class="row">

      <div class="col-12">

        <div class="px-2 px-md-0">
          <h3 id="title-no-lr-padding">Share Your Creation </h3>
          <p class="center">Snap a picture of your meal!</p>

          <form id="form1" runat="server">

            <div class="form-group">
              <input type='file' class="form-control-file" id="imgInp" />
            </div>
            <div class="form-group">
              <label for="descriptionArea">Description</label>
              <textarea class="form-control" id="descriptionArea" rows="3"></textarea>
            </div>
          </form>

        </div>
      </div>

      <div class="col-12">
        <img class="img-fluid" id="image-preview" src="/images/placeholder.png" alt="your image" />
      </div>

      <div class="col-6 text-left">
        <p class="px-2 px-md-0">
          <a class="button" id="share" onclick="share('{{name}}')">Share</a>
        </p>
      </div>

      <div class="col-6 text-right">
        <p class="px-2 px-md-0">
          <a class="home-button" href="/">Back To Home</a>
        </p>
      </div>

      <div class="col-12">
        <p class="px-2 px-md-0" id="share-status" style="display:none">Image shared</p>
      </div>

    </div>

  </div>

  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="/js/firebaseCheck.js"></script>

  <script src="/js/share.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114830772-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-114830772-1');
  </script>

</body>

</html>