<!DOCTYPE html>
<html>

<head>
  <title>EZ Cooking - {{name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/share.css" rel="stylesheet">
  <link href="/css/ez-styles.css" rel="stylesheet">
</head>

<body onload="setPageType('Share', '{{name}}');">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="dummyBar">
    <a class="navbar-brand" href="/">EZ Cooking</a>
  </nav>
  <div id="topNavBar"></div>

  <div class="container px-2 px-md-0">

    <div class="row">

      <div class="col">

        <h3 id="title-no-lr-padding">Share Your Creation </h3>

        <h4 class="center">Snap a picture of your meal!</h4>

        <form id="form1" runat="server">
          <input type='file' id="imgInp"/>
          <img class="img-fluid" id="blah" src="#" alt="your image" />
        </form>

        <!-- <video src="" id="image-preview" class="img-fluid" alt="image preview"> -->

        <br>
        <div id="share">
        <button type="button" onclick="share('{{name}}')">Share</button>

          <p id="share-status" style="display:none">Image shared</p>
        </div>
        
        <br>
        <button><a href="/">Back To Home</a></button>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="/js/firebaseCheck.js"></script>

  <script src="/js/share.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114830772-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114830772-1');
</script>

</body>

</html>