.food-card-img {
    width: 100%;
    max-width: 100%;
    height: 20vh;
    max-height: 20vh;
    object-fit: cover;
    padding-bottom: 15px;
}

#top-image {
    width: 100%;
    max-width: 700px;
    height: auto;
    max-height: 30vh;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#backArrow {
    position: absolute;
    max-height: 3.25rem;
    max-width: 3.25rem;
    top: 0;
    padding: 5px;
    z-index: 3;
    left: 0%;
    background: rgba(255, 255, 255, 0.50);
    border-radius: 0% 20% 20% 20%;
}

.food-link{
    text-decoration: none !important;
    color: black;
}

.col-info {
    padding-left: 0px;
}

.center {
    text-align: center;
}

.col-8 {
    padding-right: 10px !important; 
}

.fadeToBlack {
    height: 20vh;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
.topRow {
    padding-bottom: 10px;
}