#title {
    padding: 10px;
    padding-top: 13px;
}

#title-no-lr-padding {
    padding: 10px;
    padding-top: 13px;
    padding-left : 0px;
    padding-right : 0px;
}

.container {
    padding : 0px;
    width: 100%;
    max-width: 700px;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #FCFCE3;
}

.button {
    border-radius: 3px;
    background-color: #e7e7e7;
    border: none;
    color: black;
    text-align: center;
    font-size: 18px; 
    padding: 12px;
    max-width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 0px;
  }
  
.col-pad {
    padding: 5px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#whitebox {
    width: 110%;
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-color: white;
    padding: 0px;
    margin: 0px;
    border-radius: 20px
}
h6 {
    font-size: 20px;
}
