/** eeeef **/ 
body {
    background-color: #FFEC9C;
}

#options_section p {
    text-align: center;
}

#finishbox {
    text-align: center;
    padding: 10px;
    background-color: #FFEC9C; /** change color **/
}
#f_text {
    font-size: 2.5em;
}