.food-card-img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    max-width: 100%;
}

h5{
	font-size: 2em;
	text-align: center;
}
#eta {
	text-align: center;
	font-style: italic;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #e7e7e7;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px; 
  padding: 15px;
  width: 160px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0px;
}

#steps{
	font-size: 1.3em;
}

.row-adj {
	margin-top: 20px;
}

.tools {
	color: #B27638;
}
.center {
	text-align: center;
}






