
.inner-name {
    padding-top: 10px;
    color: black;
}

.inner-caption {
    color: black;
}

.food-card {
    padding-bottom: 25px;
}

.food-img {
    width: 100%;
    max-width: 670px;
    height: auto;
    max-height: 25vh;
    object-fit: cover;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

.food-link{
    text-decoration: none !important;
}