#title {
    padding: 10px;
}

.inner-name {
    padding-left: 10px;
    padding-top:8px;
    color: black;
}

.inner-caption {
    padding-left: 10px;
    color: black;
}

.outer-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    padding : 0px;
    width: 100%;
    max-width: 700px;
}

.food-card {
    padding-bottom: 20px;
}

.food-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 25vh;
    object-fit: cover;
}

.food-link{
    text-decoration: none !important;;
}