#image-preview {
	padding-top: 20px;
	padding-bottom: 20px;
}

#choose-file {
	padding: 25px;
	margin-top: 10px;
	margin-left: 22px;
	text-align: center;
}

#shareRow {
	display: flex;
}

#rateRow {
	display : none;
}